@use "variables/colors" as color;

figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid color.$border;
    min-width: 230px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 5px 20px;

    .avatar {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        border-radius: 100%;
        box-shadow: inset 0 0 0 1px color.$border;
        overflow: hidden;

        img {
            max-width: 100px;
        }
    }

    figcaption {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 14px;
        max-width: 240px;
        padding: 5px;
        overflow: hidden;
    }

    @media screen and (min-width: 768px) {
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
        margin-bottom: 0;
        padding: 0;

        .avatar {
            width: 150px;
            height: 150px;

            img {
                max-width: 150px;
            }
        }
    }
}