@use "variables/breakpoints" as *;
@use "variables/spacing" as *;

main {
    padding: $spacing-md;

    h2 {
        font-size: 32px;
        font-weight: 500;

        &:not(:first-child) {
            margin-top: $spacing-lg;
        }

        @media screen and (min-width: $breakpoint-sm) {
            font-size: 24px;
        }
    }
}