@use "variables/colors" as color;
@use "partials/links";

nav {
    position: sticky;
    top: 0;
    background-color: rgba(color.$theme, .3);
    border-right: 1px solid color.$border;

    h4 {
        display: none;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            flex: 1;
            background-color: color.$nav-items;
            border-bottom: 1px solid color.$border;

            a {
                display: block;
                width: 100%;
                padding: 10px;
                text-align: center;

                &:hover {
                    background-color: darken(color.$nav-items, 10%);
                }
            }
        }
    }

    .sticky-nav {
        position: sticky;
        top: 0;
    }

    @media screen and (min-width: 768px) {
        position: initial;
        width: 250px;

        h4 {
            display: block;
        }

        ul {
            display: block;

            li a {
                text-align: left;
            }
        }
    }
}